body {
    background: #282A35;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

div {
    text-align: center;
    align-items: center;
    padding: 1em;
}

.num {
    padding: 0.5em;
    border-radius: 1em;
    text-align: center;
    margin: 1.5em;
}

.botao {
    text-align: center;
    transition: all 0.3s ease;
    font-weight: 700;
    box-shadow: rgb(10 7 7 / 20%) 0 0.3em 0.7em 0;
    padding: 1em;
    border-radius: 2.5em;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    width: 50%;
    justify-content: center;
}

.botao:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
  }

select {
    overflow: hidden;
    text-align: center;
    background-color: #282A35;
    color: white;
    padding: 1em;
    border-radius: 10px;
    font-size: large;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(10 10 10 / 62%);
}

footer {
    color: white; 
    text-align: center;
    font-style: italic;
}